default: &default
  adapter:  postgresql
  pool:     5
  host:     localhost
  encoding: unicode

development:
  <<: *default
  database: ffk-backend_development
  username: yourpgusername
  password:

test:
  <<: *default
  database: ffk-backend_test
  username: yourpgusername
  password:
